	<br/>
	<h1>@Content.Question</h1>

	<div>
		@Html.Raw(Content.Answer)
	</div>

	@if (!String.IsNullOrEmpty(Content.Image))
	{
		<div>
			<br/>
			<strong>Author</strong><br/>
			<img src="@Content.Image?w=200&h=200" />
		</div>
	}
